<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>时代币 TMC - 时代币分红 - 比特时代时代币分红估算</title>
    <meta name="keywords" content="时代币,tmc,比特时代,时代币分红"/>
    <meta name="description" content="我们提供比特时代的时代币(tmc)的分红情况"/>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        table {
            font-size: 10px;
        }

        th {
            font-weight: bold;
            text-align: center
        }

        .total td {
            text-align: center
        }

        .detail td {
            text-align: right
        }
    </style>
</head>
<body>
{include file="nav"}
<section style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
    <div class="row" style="padding:10px">
        <h1 class="text-center">比特时代 时代币 TMC 分红预览</h1>
        <div class="table-responsive">
            {$total}
        </div>
        <h1 class="text-center">比特时代 时代币 TMC 分红交易详情</h1>
        <div class="table-responsive">
            {$detail}
        </div>
    </div>
</section>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>